p {
    color: blue
}

.card-header-title {
    font-size: 20px;
}

.post-header-tag {
    margin-right: 20px
}

#sticky-column {
    height:90vh; 
    position: sticky; 
    top: 3.2rem;
}

#stick-column:hover > .plus_sign{
    color: red
}

.plus_sign {
    transition: transform .8s ease-in-out;  
}

.plus_sign:hover {
  transform:rotate(360deg); 
}